  <nav class=" bg-gray-800">
  <div class="mx-auto px-4 py-6 text-center text-violet-400">
        <a href="{{ path('app_legals_notices') }}" class="hover:text-gray-100"> Legals notices</a> |
        <a href="{{ path('app_accessibility') }}" class="hover:text-gray-100">Accessibility</a> |
        <a href="{{ path('app_cookies') }}" class="hover:text-gray-100">Cookies</a> |
        <a href="{{ path('app_privacy') }}" class="hover:text-gray-100">Privacy politcs</a> |
        <a href="{{ path('app_cgv') }}" class="hover:text-gray-100">CGV</a> |
        <a href="{{ path('app_cgu') }}" class="hover:text-gray-100">CGU</a>
        <div>© {{ "now"|date("Y") }} Cassandra Inc. — All rights reserved</div>
  </div>
  
    </nav>

    